@using Proyecto_Web.ViewModels.News
@model UpdateNewsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

@if (Model.HasError)
{
    <div class="alert alert-danger">
        @Model.Exception.Message;
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureFile" class="control-label">News Picture</label>
                <input asp-for="PictureFile" class="form-control" accept="image/jpeg,image/png" />
                <span asp-validation-for="PictureFile" class="text-danger d-block"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubishedDate" class="control-label"></label>
                <input asp-for="PubishedDate" class="form-control" />
                <span asp-validation-for="PubishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
